html {
  font-family: Verdana, sans-serif;
  background-color: black;
  color: white;
  text-align:center;
}

h1 {
  font-size: 50px;
  color: white;
  text-align:center;
}

h2{

  font-weight:300;
  font-size:32px;
}

a{
  color: aquamarine;
  font-size: 16px;
}
p{
  color:gray;
  font-size:21px;
}

.footer p{
  text-align: right;
}
